#Constellation .Constellation_schema_collections { 
  color: rgba(0,0,0,0.8);
  opacity: 0.8;
  height: 16px;
  font-size: smaller;
  max-width: 90px;
  padding: 0;
}

.Constellation_schema_button {
  float: right;
  border-left: 1px solid rgba(0,0,0,.4);
  padding: 0 6px;
}

.Constellation_schema_button:hover {
  color: #2CA6E2;
  transition: .2s;
  cursor: pointer;
}

.Constellation-schema-output {
  width: 600px;
  height: 400px;
  color: #000;
}

.Constellation_schema_restore_field {
  color: #000;	
}

/* This is going to mess with apps with sAlert already in them */

.s-alert-box {
  max-width: 90%;
  z-index: 2147483647 !important;
}

.s-alert-box pre {
  white-space: pre-wrap;
}

#Constellation.Constellation {
 z-index: 2147483646;	
}